<h2><%= @topic.board.name %> : <%= @topic.name %></h2>
<% @topic.posts.each do |i| %>
	<% @p = i %>
	<% if @p.valid? %>
  	<%= render 'application/post_template' %>
  	<% else %>
  	<%#nilclass%>
  	<% end %>
<% end %>
<hr/>
<%= render 'application/new_topic_reply_template' %>