<% unless visible_boards.empty? %>
<% active_board=(not @board.nil?) ? @board.id : nil -%>
<ul class="nav nav-pills nav-stacked">
	<% visible_boards.each do |b| %>
	<% classes=""
		if b.id==active_board
			classes=classes+"active"
		end %>
	<li class="<%= classes %>"><a href="/<%= b.url %>/">/<%= b.url %>/&nbsp;<%= b.name %>
		<% if b.nsfw? %>
			&nbsp;<span class="label label-danger">nsfw</span>
		<% end
		unless b.visible? %>
			&nbsp;<span class="label label-warning">hidden</span>
		<% end %>
	</a></li>
	<% end %>
</ul>
<% end %>