<ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="#">Hi there</a></li>
	<li><a href="#">Sidenav...</a></li>
	<li><a href="#">Yes</a></li>
	<li><a href="#">This is it</a></li>
</ul>
<ul class="nav nav-sidebar">
	<li><a href="/boards">Boards</a></li>
	<li><a href="/posts">Posts</a></li>
	<li><a href="/topics">Threads</a></li>
</ul>
<% unless visible_boards.empty? %>
<ul class="nav nav-sidebar">
	<li class="nav-divider"></li>
	<% visible_boards.each do |b| %>
	<% unless b.nsfw? %>
	<li><%= link_to "/"+b.url+"/ "+b.name, "/"+b.url+"/" %></li>
	<% else %>
	<li><a href="/<%= b.url %>/">/<%= b.url %>/&nbsp;<%= b.name %>&nbsp;<span class="label label-danger">nsfw</span></a></li>
	<% end %>
	<% end %>
</ul>
<% end %>