<ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="#">Hi there</a></li>
	<li><a href="#">Sidenav...</a></li>
	<li><a href="#">Yes</a></li>
	<li><a href="#">This is it</a></li>
</ul>
<ul class="nav nav-sidebar">
	<li><a href="/boards">Boards</a></li>
	<li><a href="/posts">Posts</a></li>
	<li><a href="/topics">Threads</a></li>
</ul>
<% if boards %>
<ul class="nav nav-sidebar">
	<li class="nav-separator"></li>
	<% @boards.each do |b| %>
	<li><%= link_to "/"+b.url+"/ "+b.name, "/"+b.url+"/" %></li>
	<% end %>
</ul>
<% end %>